<mat-toolbar color="primary">
  <h1>
    Octank 
  </h1>
  <button mat-button routerLink="/"><mat-icon>home</mat-icon></button>
  <!-- <button mat-button routerLink="/">Home</button> -->
  <button mat-button routerLink="/about">About</button>
  
  <span class="example-spacer"></span>
  
  <div *ngIf="isSignedIn === true" style="font-weight: 300; font-family:Arial, Helvetica, sans-serif; font-size: medium;">
    <!-- <amplify-sign-out></amplify-sign-out> -->
    <div>Hello, {{userName}}</div>
  </div>
  <button mat-icon-button *ngIf="isSignedIn === true" matTooltip="Sign In" class="example-icon" aria-label="Example icon-button with share icon" (click)="signOut()" >
    <mat-icon>logout</mat-icon>
  </button>
  <div *ngIf="isSignedIn !== true" style="font-weight: 200; font-family:Arial, Helvetica, sans-serif; font-size: medium;">Login</div>
  <button mat-icon-button *ngIf="isSignedIn !== true" matTooltip="Sign Out" class="" routerLink="/login" aria-label="Sign In">
    <mat-icon matTooltip="My tooltip">power_settings_new</mat-icon>
  </button>
  
</mat-toolbar>

<!-- <mat-menu x-position="before" #menu="matMenu"> -->
 
  

  

  <!-- <button mat-menu-item *ngIf="isAuthenticated" (click)="logout()">
    <mat-icon>exit_to_app</mat-icon>
    Logout
  </button> -->
<!-- </mat-menu> -->


<router-outlet></router-outlet>